ul:not(.uwagiUL) {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2c4394;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 20px;
  font-family: sans-serif;
}

ul li {
  width: 33.3%;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

ul li:hover {
  opacity: 0.7;
}

ul li a {
  display: block;
  color: #03fcf4;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #270303;
  text-decoration: none;
}

#border-button1 {
  border-radius: 30px 0 0 30px;
}

#border-button2 {
  border-radius: 0 30px 30px 0;
}

.login-body {
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(../mountains.avif);
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.form-container {
  max-width: 320px;
  width: 100%;
  padding: 40px;
  box-shadow: 0 0 10px black;
  background: transparent;
  border-radius: 30px;
  text-align: center;
  backdrop-filter: blur(5px);
}

.form-header {
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input {
  padding: 15px 20px;
  width: 275px;
  border-radius: 30px;
  border: 0px solid white;
  box-shadow: 0 0 5px black;
  margin-bottom: 20px;
  background: transparent;
  font-size: 1rem;
  outline: none;
  color: white;
}

.input-container input:hover {
  border: 2px solid rgba(0, 0, 0, 0.304);
}

input::placeholder {
  color: white;
  font-size: 0.8rem;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

.forgot-password a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.submit {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: 0px solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.804);
  margin-bottom: 20px;
  font-family: sans-serif;
  font-weight: 900;
  background: white;
  cursor: pointer;
}

.submit:hover {
  box-shadow: 0 0 9px rgba(255, 255, 255, 0.662);
}

.signup {
  text-align: center;
  font-size: 14px;
}

.signup a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.uwagiBody {
  margin: 0;
  padding: 0;
}

.containerImageText {
  position: relative;
  text-align: center;
  height: 800px;

  background-image: url(../html_css.webp);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: 2s ease-out 0s 1 fadeIn;
  margin-bottom: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.top-center {
  font-family: sans-serif;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
}

.mainTextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-family: sans-serif;
  font-style: italic;
}

#mainHeader {
  text-align: center;
  width: 70%;
}

.terms {
  background-color: rgb(93, 210, 210);
  border-radius: 5px;
}

.uwagiUL {
  list-style-type: disc;
  position: relative;
  right: 20%;
}

.uwagiUL li {
  text-align: start;
  margin-bottom: 5px;
  width: 100%;
}

code {
  box-sizing: border-box;
  display: block;
  position: relative;
  background-color: rgb(199, 202, 205);
  padding-right: 80px;
  border-radius: 10px;
}

.tag {
  color: red;
}

.attribute {
  color: brown;
}

.value {
  color: green;
}

.inlineCode {
  background-color: rgb(199, 202, 205);
  border-radius: 2px;
}
