/* Minimalny reset  */
html {
  font-size: 16px; /* bazowy rozmiar czcionki */
  font-family: system-ui, sans-serif; /* font systemowy */
  line-height: 1.5; /* lepsza czytelność */
}
body {
  margin: 1rem;
  padding: 0;
}

a {
  color: #0066cc; /* niebieski kolor linków */
  text-decoration: none; /* bez podkreślenia */
  font-size: 1.4rem;
}
a:hover {
  text-decoration: underline; /* podkreślenie przy najechaniu */
}

nav {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #2c4394;
  border-radius: 30px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}
nav ul li {
  width: 33.3%;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}

nav ul li:hover {
  opacity: 0.7;
}

nav ul li a {
  display: block;
  color: #03fcf4;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #270303;
  text-decoration: none;
}

#borderButton1 {
  border-radius: 30px 0 0 30px;
}

#borderButton2 {
  border-radius: 0 30px 30px 0;
}
